-r itl/memory/requirements.txt
-r itl/vision/requirements.txt
-r itl/lang/requirements.txt
-r itl/symbolic_reasoning/requirements.txt
-r itl/action_planning/requirements.txt
-r itl/lpmln/requirements.txt

clingo
mlagents==1.0.0